<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="customstyles.css">
</head>

<body>
    <div>
        <h1>Events</h1>
        <div class="picture-container">
            <div>
                <h2>Test Player 1 </h2>
                <div class="">
                    <img src="https://cdn.discordapp.com/avatars/934510294712082522/c67a960ff780778185bd4f097929282f.webp?size=64"
                        alt="Image 1">
                </div>
                <p>
                    Scenario Text
                </p>
            </div>

            <div>
                <h2>Test Player 2</h2>
                <div class="dead-player">
                    <img src="https://cdn.discordapp.com/avatars/233996298745937921/27beb7f3d72d85f169298d574e25446a.webp?size=64"
                        alt="Image 3">
                </div>
                <p>
                    Scenario Text
                </p>
            </div>
        </div>
    </div>
</body>

</html>