<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="customstyles.css">
</head>

<body>
    <div class="picture-containerRound">
        <h1>The Winner is dhad</h1>
        <div class="picture-containerRound">
                <!-- <h2>Test Player 1 </h2> -->
                <div class="">
                    <img class="winner-pic" src="https://cdn.discordapp.com/avatars/934510294712082522/c67a960ff780778185bd4f097929282f.webp?size=64"
                        alt="Image 1">
                </div>
                <p>
                    🎉Winner winner chicken dinner🎉
                </p>
        </div>
    </div>
</body>

</html>