<html>

<head>
    <style>
        
        img{
            width: 50%;
            height: auto;
        }

        p.test{
            font-size: xx-large;
        }
    </style>
</head>

<body>

    <p class="test">Im the best, actual cap hahaha!</p>

    <p>
        Dragon
    </p>
    <img
        src="https://cdn.discordapp.com/avatars/262185111955570689/98451dcb8170b47d0cb0313df0299211.webp?quality=lossless&size=4096" />
        <p>
            Ray
        </p>
        <img
            src="https://cdn.discordapp.com/avatars/287332990990811146/ca2f8d8d4fcc27f29f4c8191aaec4717.webp?quality=lossless&size=4096" />
</body>

</html>